services:
  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jenkins_master
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - AWS_DEFAULT_REGION=us-east-1
    restart: always

volumes:
  jenkins_data:

